<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dashika.cf.transletor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".TransletorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".TransletorWidget"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata">
            </meta-data>
        </receiver>
        <activity
            android:name=".ServiceDialog"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent" />

        <meta-data
            android:name="AA_MODELS"
            android:value="dashika.cf.transletor.Model.Russian, dashika.cf.transletor.Model.English" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    </application>


</manifest>